<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bellowschool.noti.mapper.notiMapper">
    <select id="notiPagedList" resultType="notiVo">
        SELECT SNO
             , TITLE
             , REGUSER
             , REGTIME
        FROM BSNOTI
        ORDER BY REGTIME DESC
    </select>

    <insert id="regNoti" parameterType="hashMap">
        INSERT INTO bsnoti (title,
                            content,
                            reguser,
                            sno,
                            regtime)
        VALUES ( #{regnotititle}
               , #{regnoticontent}
               , #{regnotiuser}
               , (SELECT max(sno) from bsnoti) + 1
               , TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS'))
    </insert>

</mapper>
