<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bellowschool.noti.mapper.notiMapper">
    <select id="notiPagedList" resultType="notiVo">
        SELECT SNO
             , TITLE
             , REGUSER
             , TO_CHAR(TO_DATE(REGTIME, 'YYYYMMDDHH24MISS'), 'YYYY-MM-DD HH24:MI') REGTIME
        FROM BSNOTI
        ORDER BY SNO DESC
    </select>

    <insert id="regNoti" parameterType="hashMap">
        INSERT INTO bsnoti (title,
                            content,
                            reguser,
                            sno,
                            regtime)
        VALUES ( #{regnotititle}
               , #{regnoticontent}
               , #{regnotiuser}
               , (SELECT max(sno) from bsnoti) + 1
               , TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS'))
    </insert>

    <select id="notiReadPage" resultType="notiVo" parameterType="int">
        SELECT SNO
             , TITLE
             , CONTENT
             , REGUSER
             , TO_CHAR(TO_DATE(REGTIME, 'YYYYMMDDHH24MISS'), 'YYYY-MM-DD HH24:MI') REGTIME
        FROM BSNOTI
        WHERE SNO = #{sno}
    </select>

    <delete id="notiDetele" parameterType="hashMap">
        DELETE
        BSNOTI WHERE SNO =
        #{sno}
    </delete>

    <update id="updateNoti" parameterType="hashMap">
        UPDATE BSNOTI
        <set>
            TITLE = #{updateNotiTitle}
            ,CONTENT =#{updateNotiContent}
        </set>
        <where>
            SNO = #{sno}
        </where>
    </update>
</mapper>
