<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bellowschool.checkin.mapper.CheckMapper">
    <select id="userattendanceList" resultType="UserVo">
        SELECT usernum,
               username,
               usertype,
               userclass,
               CASE userclass
                   WHEN '1' THEN
                       (
                           SELECT round((COUNT(1) / 11) * 100)
                           FROM bscheckin b
                           WHERE checktime BETWEEN '202106' AND '202107'
                             AND b.usernum = a.usernum
                       )
                   WHEN '2' THEN
                       (
                           SELECT round((COUNT(1) / 11) * 100)
                           FROM bscheckin b
                           WHERE checktime BETWEEN '202106' AND '202107'
                             AND b.usernum = a.usernum
                       )
                   WHEN '3' THEN
                       (
                           SELECT round((COUNT(1) / 11) * 100)
                           FROM bscheckin b
                           WHERE checktime BETWEEN '202106' AND '202107'
                             AND b.usernum = a.usernum
                       )
                   END addtendance
        FROM bsuser a
        WHERE usertype != '0'
        GROUP BY usernum,
                 username,
                 usertype,
                 userclass
        ORDER BY usernum
    </select>

    <insert id="regCheckIn" parameterType="hashMap">
        INSERT INTO BSCHECKIN ( USERNUM
                              , USERNAME
                              , CHECKTYPE
                              , CHECKTIME)
        VALUES ( #{userNum}
               , #{userName}
               , '1'
               , TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS'))
    </insert>

    <select id="duplicateCheck" resultType="int" parameterType="hashMap">
        SELECT count(*)
        FROM BSCHECKIN
        WHERE CHECKTIME like #{checkTime}
          and USERNUM = #{userNum}
    </select>

    <delete id="notiDetele" parameterType="hashMap">
        DELETE
            BSNOTI
        WHERE SNO =
              #{sno}
    </delete>

    <update id="updateNoti" parameterType="hashMap">
        UPDATE BSNOTI
        <set>
            TITLE = #{updateNotiTitle}
            ,CONTENT =#{updateNotiContent}
        </set>
        <where>
            SNO = #{sno}
        </where>
    </update>

    <update id="updateNotiHitcnt" parameterType="int">
        UPDATE BSNOTI
        <set>
            HITCNT=HITCNT+1
        </set>
        <where>
            SNO = #{sno}
        </where>
    </update>
</mapper>
