<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bellowschool.checkin.mapper.CheckMapper">
    <select id="userAttendanceList" resultType="UserVo" parameterType="hashMap">
        SELECT usernum
             , username
             , usertype
             , userclass
             , CASE userclass
                   WHEN '1' THEN
                       (
                           SELECT round((COUNT(1) / #{class0}) * 100)
                           FROM bscheckin b
                           WHERE checktime BETWEEN #{dateStart} AND TO_CHAR(
                                   TO_DATE(TO_CHAR(TO_DATE(#{dateEnd}, 'YYYYMMDD') + 1), 'YY/MM/DD'), 'YYYYMMDD')
                             AND b.usernum = a.usernum
                       )
                   WHEN '2' THEN
                       (
                           SELECT round((COUNT(1) / #{class1}) * 100)
                           FROM bscheckin b
                           WHERE checktime BETWEEN #{dateStart} AND TO_CHAR(
                                   TO_DATE(TO_CHAR(TO_DATE(#{dateEnd}, 'YYYYMMDD') + 1), 'YY/MM/DD'), 'YYYYMMDD')
                             AND b.usernum = a.usernum
                       )
                   WHEN '3' THEN
                       (
                           SELECT round((COUNT(1) / #{class2}) * 100)
                           FROM bscheckin b
                           WHERE checktime BETWEEN #{dateStart} AND TO_CHAR(
                                   TO_DATE(TO_CHAR(TO_DATE(#{dateEnd}, 'YYYYMMDD') + 1), 'YY/MM/DD'), 'YYYYMMDD')
                             AND b.usernum = a.usernum
                       )
            END addtendance
        FROM bsuser a
        WHERE usertype = '2'
        GROUP BY usernum
               , username
               , usertype
               , userclass
        ORDER BY USERCLASS, USERNUM
    </select>

    <select id="monthlyAttendance" resultType="int" parameterType="hashMap">
        SELECT AVG(CASE userclass
                       WHEN '1' THEN
                           (
                               SELECT round((COUNT(1) / #{class0}) * 100)
                               FROM bscheckin b
                               WHERE checktime like #{dateStart}
                                 AND b.usernum = a.usernum
                           )
                       WHEN '2' THEN
                           (
                               SELECT round((COUNT(1) / #{class1}) * 100)
                               FROM bscheckin b
                               WHERE checktime like #{dateStart}
                                 AND b.usernum = a.usernum
                           )
                       WHEN '3' THEN
                           (
                               SELECT round((COUNT(1) / #{class2}) * 100)
                               FROM bscheckin b
                               WHERE checktime like #{dateStart}
                                 AND b.usernum = a.usernum
                           )
            END)
        FROM bsuser a
        WHERE usertype = '2'
    </select>

    <select id="scheduleClassCount" resultType="int" parameterType="hashMap">
        SELECT COUNT(1)
        FROM bsschedule
        WHERE type = '0'
          AND title = #{class}
          AND end BETWEEN to_char(to_date(#{dateStart}), 'YYYY-MM-DD') AND to_char(to_date(#{dateEnd} + 1), 'YYYY-MM-DD')
    </select>

    <select id="monthlyClassCount" resultType="int" parameterType="hashMap">
        SELECT COUNT(1)
        FROM bsschedule
        WHERE type = '0'
          AND title = #{class}
          AND end like #{date}
    </select>

    <insert id="regCheckIn" parameterType="hashMap">
        INSERT INTO BSCHECKIN ( USERNUM
                              , USERNAME
                              , CHECKTYPE
                              , CHECKTIME)
        VALUES ( #{userNum}
               , #{userName}
               , '1'
               , TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS'))
    </insert>

    <select id="duplicateCheck" resultType="int" parameterType="hashMap">
        SELECT count(*)
        FROM BSCHECKIN
        WHERE CHECKTIME like #{checkTime}
          and USERNUM = #{userNum}
    </select>

    <select id="findUserCheckTime" resultType="CheckinVo" parameterType="hashMap">
        select USERNAME, TO_CHAR(TO_DATE(CHECKTIME, 'YYYYMMDDHH24MISS'), 'YYYY-MM-DD HH24:MI:SS') CHECKTIME
        from bscheckin
        where checktime between #{dateStart} and to_char(
                to_date(to_char(to_date(#{dateEnd}, 'YYYYMMDD') + 1), 'YY/MM/DD'), 'YYYYMMDD')
          and USERNUM = #{userNum}
    </select>
</mapper>
