<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="container-fluid">
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h3 class="m-0 font-weight-bold text-primary">공지사항</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <form id="regnoti">
                            <table class="table table-primary" cellspacing="0">
                                <colgroup>
                                    <col width="10%"/>
                                    <col width="70%"/>
                                    <col width="10%"/>
                                    <col width="10%"/>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th colspan="4" class="text-primary">공지사항 등록</th>
                                </tr>
                                <tr >
                                    <th style="vertical-align: middle; text-align: center">제목</th>
                                    <th><input type="text" style="width: 100%" id="regnotititle" required maxlength="50"
                                               oninput="numberMaxLength(this);" class="form-control"></th>
                                    <th style="vertical-align: middle; text-align: center">작성자</th>
                                    <th><input type="text" value="관리자" disabled class="form-control text-center" style="background-color: white"></th>
                                </tr>
                                <tr>
                                    <th style="vertical-align: middle; text-align: center">내용</th>
                                    <th colspan="4" height="500px">
                                    <textarea id="regnoticontent" class="form-control-user" required maxlength="2000"
                                              oninput="numberMaxLength(this);"
                                              style="width: 100%; height: 100%; resize: none" th:class="form-control"></textarea>
                                    </th>
                                </tr>
                                </thead>
                            </table>
                            <input type="submit" class="btn btn-primary btn-sm" onclick="$.fncregnoti()" value="등록">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/noti/notiRegPageWin.js"></script>
    </th:block>
</th:block>