<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <div class="container-fluid">
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h3 class="m-0 font-weight-bold text-primary">공지사항</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <form id="regnoti">
                            <table class="table table-primary" cellspacing="0">
                                <colgroup>
                                    <col width="10%"/>
                                    <col width="40%"/>
                                    <col width="10%"/>
                                    <col width="10%"/>
                                    <col width="10%"/>
                                    <col width="20%"/>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th colspan="6" class="text-primary">공지사항 수정</th>
                                </tr>
                                <tr>
                                    <th style="vertical-align: middle; text-align: center">제목</th>
                                    <th><input type="text" th:value='${noti.title}' id="updateNotiTitle" required
                                               class="form-control text-left" style="width: 100%"
                                               maxlength="20" oninput="numberMaxLength(this);"></th>
                                    </th>
                                    <th style="vertical-align: middle; text-align: center">작성자</th>
                                    <th><input type="text" th:value='${noti.reguser}' disabled
                                               class="form-control text-center" style="background-color: white"></th>
                                    <th style="vertical-align: middle; text-align: center">작성일</th>
                                    <th><input type="text" th:value='${noti.regtime}' disabled
                                               class="form-control text-center" style="background-color: white"></th>
                                </tr>
                                <tr>
                                    <th style="vertical-align: middle; text-align: center">내용</th>
                                    <th height="500px" colspan="6">
                                    <textarea id="updateNotiContent"
                                              style="width: 100%; height: 100%; resize: none"
                                              th:text="${noti.content}" th:class="form-control"></textarea>
                                    </th>
                                </tr>
                                </thead>
                            </table>
                            <input type="submit" class="btn btn-primary btn-sm" onclick="$.fncUpdateNoti()" value="수정">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            $.fncUpdateNoti = function () {
                if (confirm("정말 수정하시겠습니까?") == true) {
                    if ($('#updateNotiTitle').val() != "" && $('#updateNotiContent').val() != "") {
                        $.ajax({
                            url: '/updateNotiPage',
                            type: 'POST',
                            contentType: "application/json",
                            data: JSON.stringify({
                                updateNotiTitle: $('#updateNotiTitle').val(),
                                updateNotiContent: $('#updateNotiContent').val(),
                                /*<![CDATA[*/
                                sno: [[${noti.sno}]]
                                /*]]*/
                            }),
                            success: function onData(data) {
                                if (data >= 1) {
                                    alert('공지사항이 수정 되었습니다.');
                                    location.href = "/noti";
                                } else if (data == 0) {
                                    alert('공지사항 수정에 실패하였습니다.');
                                }
                            }
                        });
                    }
                }
            }
        </script>
    </th:block>
</th:block>