<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bellowschool.schedule.mapper.ScheduleMapper">
    <select id="scheduleList" resultType="ScheduleVo">
        SELECT *
        FROM BSSCHEDULE
    </select>

    <select id="classList" resultType="ClassVo">
        SELECT DISTINCT CASE CLASSTYPE
                            WHEN '1' THEN '고급2'
                            WHEN '2' THEN '고급1'
                            WHEN '3' THEN '중급'
            END CLASSTYPE
                      , STARTTIME
                      , ENDTIME
        FROM BSCLASS
    </select>

    <insert id="regClass" parameterType="hashMap">
        INSERT INTO BSCLASS ( CLASSDAY
                            , CLASSTYPE
                            , STARTTIME
                            , ENDTIME)
        VALUES ( #{classDay}
               , #{classType}
               , #{startTime}
               , #{endTime})
    </insert>

    <insert id="regSchedule" parameterType="hashMap">
        INSERT INTO BSSCHEDULE (ID
        , TITLE
        <if test="description != null">
            , DESCRIPTION
        </if>
        <if test="start != null">
            , "START"
        </if>
        <if test="end != null or end != ''">
            , END
        </if>
        , TYPE
        , USERNAME
        , BACKGROUNDCOLOR
        , ALLDAY)
        VALUES ( SCHEDULE.nextval
        , #{title}
        <if test="description != null">
            , #{description}
        </if>
        <if test="start != null">
            , #{start}
        </if>
        <if test="end != null or end != ''">
            , #{end}
        </if>
        , #{type}
        , #{username}
        , #{backgroundcolor}
        , #{allday}
        )
    </insert>


    <select id="notiReadPage" resultType="NotiVo" parameterType="int">
        SELECT SNO
             , TITLE
             , CONTENT
             , REGUSER
             , TO_CHAR(TO_DATE(REGTIME, 'YYYYMMDDHH24MISS'), 'YYYY-MM-DD HH24:MI') REGTIME
        FROM BSNOTI
        WHERE SNO = #{sno}
    </select>

    <delete id="deleteSchedule" parameterType="hashMap">
        DELETE
            BSSCHEDULE
        WHERE ID =
              #{id}
    </delete>

    <update id="updateSchedule" parameterType="hashMap">
        UPDATE BSSCHEDULE
        <set>
            TITLE = #{title}
            <if test="description != null">
                , DESCRIPTION = #{description}
            </if>
            <if test="start != null">
                , "START" = #{start}
            </if>
            <if test="end != null or end != ''">
                ,END =  #{end}
            </if>
            , TYPE = #{type}
            , BACKGROUNDCOLOR = #{backgroundcolor}
            , ALLDAY = #{allday}
        </set>
        <where>
            ID = #{id}
        </where>
    </update>

</mapper>
