<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bellowschool.user.mapper.UserMapper">
    <select id="userList" resultType="UserVo">
        SELECT USERNUM
             , USERNAME
             , USERTYPE
             , USERCLASS
             , TO_CHAR(TO_DATE(USERDTIME, 'YYYYMMDDHH24MISS'), 'YYYY-MM-DD HH24:MI') USERDTIME
             , QRNAME
        FROM BSUSER
        ORDER BY USERNUM
    </select>

    <insert id="regUser" parameterType="hashMap">
        INSERT INTO BSUSER ( USERNUM
                           , USERNAME
                           , USERTYPE
                           , USERCLASS
                           , PASSWORD
                           , QRNAME
                           , USERDTIME)
        VALUES ( #{usernum}
               , #{username}
               , #{usertype}
               , #{userclass}
               , #{password}
               , #{qrname}
               , TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS'))
    </insert>

    <select id="cresno" resultType="int">
        SELECT MAX(USERNUM) + 1 usernum
        FROM BSUSER
    </select>

    <delete id="userDetele" parameterType="hashMap">
        DELETE
            BSUSER
        WHERE USERNUM =
              #{usernum}
    </delete>

    <select id="userRead" resultType="UserVo" parameterType="int">
        SELECT USERNUM
             , USERNAME
             , USERTYPE
             , USERCLASS
             , QRNAME
             , TO_CHAR(TO_DATE(USERDTIME, 'YYYYMMDDHH24MISS'), 'YYYY-MM-DD HH24:MI') USERDTIME
        FROM BSUSER
        WHERE USERNUM = #{usernum}
    </select>

    <update id="updateUser" parameterType="hashMap">
        UPDATE BSUSER
        <set>
              USERNAME = #{userName}
            , USERTYPE = #{userType}
            , USERCLASS = #{userClass}
            , QRNAME = #{qrName}
        </set>
        <where>
            USERNUM = #{userNum}
        </where>
    </update>

</mapper>
