<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bellowschool.pleaseBuy.mapper.PleaseBuyMapper">

    <select id="pleaseBuyList" resultType="PleaseBuyVo" parameterType="com.bellowschool.common.page.PageResultVo">
        SELECT *
        FROM (
        SELECT a.*,
        ROWNUM rnum
        FROM (
        SELECT ID
        , STATUS
        , GOODSTYPE
        , B.USERNAME
        , GOODS
        , GOODSCOUNT
        , GOODSPRICE
        , "OPTION"
        , COMPANY
        , INVOICE
        , TO_CHAR(TO_DATE("START", 'YYYYMMDDHH24MISS'), 'YYYY-MM-DD') "START"
        , TO_CHAR(TO_DATE("END", 'YYYYMMDDHH24MISS'), 'YYYY-MM-DD') "END"
        , COUNT(1) OVER () totalcount
        FROM BSPLEASEBUY
        LEFT JOIN BSUSER B on BSPLEASEBUY.USERNUM = B.USERNUM
        <if test='type != null and !type.equals("")'>
            <choose>
                <when test='type.equals("sw")'>
                    <where>
                        STATUS = #{status}
                        AND B.USERNAME = #{keyword}
                    </where>
                </when>
                <when test='type.equals("w")'>
                    <where>
                        B.USERNAME = #{keyword}
                    </where>
                </when>
                <when test='type.equals("s")'>
                    <where>
                        STATUS = #{status}
                    </where>
                </when>
            </choose>
        </if>
        ORDER BY id DESC
        ) a
        WHERE ROWNUM <![CDATA[<=]]> #{page} * #{size}
        )
        WHERE rnum >= 1 + #{size} * (#{page} - 1)
    </select>

    <select id="requestPleaseBuy" resultType="int">
        SELECT COUNT(1)
        FROM BSPLEASEBUY
        WHERE STATUS = '0'
    </select>

    <insert id="regPleaseBuy" parameterType="hashMap">
        INSERT INTO BSPLEASEBUY ( ID
        , GOODSTYPE
        , GOODS
        , GOODSCOUNT
        , GOODSPRICE
        <if test='option != null and !option.equals("")'>
            , "OPTION"
        </if>
        , "START"
        , USERNUM)
        VALUES ( PLEASEBUY.nextval
        , #{type}
        , #{name}
        , #{amount}
        , #{price}
        <if test='option != null and !option.equals("")'>
            , #{option}
        </if>
        , TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
        , #{usernum}
        )
    </insert>

    <delete id="deletePleaseBuy" parameterType="hashMap">
        DELETE
            BSPLEASEBUY
        WHERE ID =
              #{id}
    </delete>

    <update id="updatePleaseBuy" parameterType="hashMap">
        UPDATE BSPLEASEBUY
        <set>
            <if test="status != null and status != ''">
                STATUS = #{status}
            </if>
            <if test="goodstype != null and goodstype != ''">
                , GOODSTYPE = #{type}
            </if>
            <if test="goodsprice != null and goodsprice != ''">
                , GOODSPRICE = #{price}
            </if>
            <if test="goods != null and goods != ''">
                , GOODS = #{name}
            </if>
            <if test="goodscount != null and goodscount != ''">
                , GOODSCOUNT = #{amount}
            </if>
            <if test="option != null and option != ''">
                , "OPTION" = #{option}
            </if>
            <if test="company != null and company != ''">
                , COMPANY = #{company}
            </if>
            <if test="invoice != null and invoice != ''">
                , INVOICE = #{invoice}
            </if>
            <if test="end != null and end != ''">
                , "END" = #{DATE}
            </if>
        </set>
        <where>
            ID = #{id}
        </where>
    </update>

</mapper>
