<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <link href="css/treejs.css" rel="stylesheet">
        <script src="js/tree.js"></script>
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h3 class="m-0 font-weight-bold text-primary">풀무야간학교 물품 대장</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div id="container" class="col-lg-4"></div>
                        <div class="col-lg-8">
                            <table class="table table-hover">
                                <tr>
                                    <td>관리번호</td>
                                    <td id="id2"></td>
                                </tr>
                                <tr>
                                    <td>물품분류</td>
                                    <td id="type2"></td>
                                </tr>
                                <tr>
                                    <td>보관장소</td>
                                    <td id="place2"></td>
                                </tr>
                                <tr>
                                    <td>물품명</td>
                                    <td id="name2"></td>
                                </tr>
                                <tr>
                                    <td>수량</td>
                                    <td id="amount2"></td>
                                </tr>
                                <tr>
                                    <td>가격</td>
                                    <td id="price2"></td>
                                </tr>
                                <tr>
                                    <td>구입일자</td>
                                    <td id="date2"></td>
                                </tr>

                            </table>
                        </div>
                        <div class="col-lg-4">
                        </div>
                        <div class="col-lg-8">
                            <div id="options">
                                <a href="#" class="btn btn-outline-primary"
                                   onclick="add()">물건 추가</a>
                                <a href="#" class="btn btn-outline-warning"
                                   onclick="update();">물품 수정</a>
                                <a href="#" class="btn btn-outline-danger"
                                   onclick="deleteInventoryBook(view.getSelectedNodes()[0].getOptions().id)">물품 삭제</a>
                                <a href="#" class="btn btn-outline-secondary"
                                   onclick="view.expandAllNodes(); view.reload();">전체보기</a>
                                <a href="#" class="btn btn-outline-success"
                                   onclick="view.collapseAllNodes(); view.reload();">전부 줄이기</a>
                                <div id="description">
                                    All of the options used here are specified in the <a
                                        href="https://github.com/m-thalmann/treejs/blob/master/README.md"
                                        target="_blank">readme-File</a>.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 일정 추가 MODAL -->
        <div class="modal add" tabindex="-1" role="dialog" id="eventModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">사주세요!</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                onclick="reset()" aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <table class="table" id="pleaseBuy">
                            <tr>
                                <td class="align-middle">물품분류</td>
                                <td>
                                    <select class="form-control" id="type">
                                        <option value="0">간식</option>
                                        <option value="1">문구류</option>
                                        <option value="2">비품류</option>
                                        <option value="3">기타</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle">보관장소</td>
                                <td>
                                    <select class="form-control" id="place">
                                        <option value="0">교무실</option>
                                        <option value="1">큰교실</option>
                                        <option value="2">작은교실</option>
                                        <option value="3">화장실창고</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle">물품명</td>
                                <td><input type="text" class="form-control" id="name"></td>
                            </tr>
                            <tr>
                                <td class="align-middle">갯수</td>
                                <td><input type="number" class="form-control" id="amount" value="1"></td>
                            </tr>
                            <tr>
                                <td class="align-middle">개당가격</td>
                                <td><input type="number" class="form-control" id="price" value="0"
                                           onchange="sum()"></td>
                            </tr>
                            <tr>
                                <td class="align-middle">구입일자</td>
                                <td><input type="date" class="form-control" id="date"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer modalBtnContainer-addEvent">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="reset()">닫기
                        </button>
                        <button type="button" class="btn btn-primary" id="save-event" onclick="regInventoryBook()">저장
                        </button>
                        <button type="button" class="btn btn-warning" id="update-event"
                                onclick="updateInventoryBook(view.getSelectedNodes()[0].getOptions().id)">수정
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/inventoryBook/inventoryBookMain.js"></script>
    </th:block>
</th:block>