<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <link href="css/treejs.css" rel="stylesheet">
        <script src="js/tree.js"></script>
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h3 class="m-0 font-weight-bold text-primary">풀무야간학교 물품 대장</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div id="container" class="col-lg-4"></div>
                        <div class="col-lg-8">
                            <table class="table table-hover">
                                <tr>
                                    <td>관리번호</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>물품분류</td>
                                    <td>비품</td>
                                </tr>
                                <tr>
                                    <td>보관장소</td>
                                    <td>교무실</td>
                                </tr>
                                <tr>
                                    <td>물품명</td>
                                    <td>노트북</td>
                                </tr>
                                <tr>
                                    <td>수량</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>가격</td>
                                    <td>1,600,000원</td>
                                </tr>
                                <tr>
                                    <td>구입일자</td>
                                    <td>2021-07-15</td>
                                </tr>

                            </table>
                        </div>
                        <div class="col-lg-4">
                        </div>
                        <div class="col-lg-8">
                            <div id="options">
                                <a href="#" class="btn btn-outline-info"
                                   onclick="add()">Add
                                    new element</a>
                                <a href="#" class="btn btn-outline-info"
                                   onclick="if(n2.isLeaf()) return; n2.removeChild(n2.getChildren()[n2.getChildCount()-1]); count--; view.reload();">Remove
                                    element</a>
                                <a href="#" class="btn btn-outline-info"
                                   onclick="view.expandAllNodes(); view.reload();">Expand nodes</a>
                                <a href="#" class="btn btn-outline-info"
                                   onclick="view.collapseAllNodes(); view.reload();">Collapse
                                    nodes</a>
                                <a href="#" class="btn btn-outline-info"
                                   onclick="view.changeOption('show_root', !TreeUtil.getProperty(view.getOptions(), 'show_root', true)); view.reload();">Toggle
                                    show root</a>
                                <br>
                                <a href="#" class="btn btn-outline-info"
                                   onclick="alert(view.getSelectedNodes().join('; '));">Show
                                    selected
                                    nodes</a>
                                <a href="#" class="btn btn-outline-info"
                                   onclick="root.toggleSelected(); view.reload();">Toggle
                                    selected</a>
                                <a href="#" class="btn btn-outline-info" onclick="n3.toggleEnabled(); view.reload();">Toggle
                                    enabled</a>
                                <a href="#" class="btn btn-outline-info"
                                   onclick="n11.changeOption('forceParent', !TreeUtil.getProperty(n11.getOptions(), 'forceParent', false)); view.reload();">Toggle
                                    force parent</a>
                                <br>
                                <a href="#" class="btn btn-outline-info"
                                   onclick="changeIcons(this.innerHTML == 'Font-Awesome icons'); if(this.innerHTML == 'Font-Awesome icons') this.innerHTML = 'Default icons'; else this.innerHTML = 'Font-Awesome icons'">Font-Awesome
                                    icons</a>
                                <a href="#" class="btn btn-outline-info"
                                   onclick="toggleCustomIcon(TreeUtil.getProperty(root.getOptions(), 'icon', true));">Change
                                    custom icon</a>
                                <div id="description">
                                    All of the options used here are specified in the <a
                                        href="https://github.com/m-thalmann/treejs/blob/master/README.md"
                                        target="_blank">readme-File</a>.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 일정 추가 MODAL -->
        <div class="modal add" tabindex="-1" role="dialog" id="eventModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">사주세요!</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                onclick="reset()" aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <table class="table" id="pleaseBuy">
                            <tr>
                                <td class="align-middle">물품분류</td>
                                <td>
                                    <select class="form-control" id="type">
                                        <option value="0">간식</option>
                                        <option value="1">문구류</option>
                                        <option value="2">비품류</option>
                                        <option value="3">기타</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle">보관장소</td>
                                <td>
                                    <select class="form-control" id="place">
                                        <option value="0">교무실</option>
                                        <option value="1">큰교실</option>
                                        <option value="2">작은교실</option>
                                        <option value="3">화장실창고</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle">물품명</td>
                                <td><input type="text" class="form-control" id="name"></td>
                            </tr>
                            <tr>
                                <td class="align-middle">갯수</td>
                                <td><input type="number" class="form-control" id="amount" value="1"></td>
                            </tr>
                            <tr>
                                <td class="align-middle">개당가격</td>
                                <td><input type="number" class="form-control" id="price" value="0"
                                           onchange="sum()"></td>
                            </tr>
                            <tr>
                                <td class="align-middle">구입일자</td>
                                <td><input type="date" class="form-control" id="date"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer modalBtnContainer-addEvent">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="paramsReset()">닫기
                        </button>
                        <button type="button" class="btn btn-primary" id="save-event" onclick="regInventoryBook()">저장
                        </button>
                    </div>
                    <div class="modal-footer modalBtnContainer-modifyEvent">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="paramsReset()">닫기
                        </button>
                        <button type="button" class="btn btn-danger" id="delete-Event" onclick="deletePleaseBuy()">삭제
                        </button>
                        <button type="button" class="btn btn-primary" id="update-Event" onclick="updatePleaseBuy()">저장
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            makeInventoryBookList();

            function makeInventoryBookList() {
                let root = new TreeNode("야학물품대장");
                let view = new TreeView(root, "#container");

                $.ajax({
                    url: '/inventoryBookList',
                    type: 'POST',
                    async: false,
                    contentType: "application/json",
                    success: function onData(data) {
                        data.inventoryList.forEach(Vo => root.addChild(new TreeNode(Vo.inventoryname, Vo)));
                        root.getChildren().forEach(value => {
                            data.inventoryBookList.forEach(Vo => {
                                if (value.getOptions().inventoryid == Vo.place) {
                                    value.addChild(new TreeNode(Vo.name, Vo))
                                }
                            })
                        });
                        view.expandAllNodes();
                        view.reload();
                    }
                });
            }


            function add() {
                $('.add').show();
            }

            function reset() {
                $('.add').hide();
            }


            function changeIcons(fa_icons) {
                if (fa_icons) {
                    view.changeOption("leaf_icon", '<i class="fas fa-file"></i>');
                    view.changeOption("parent_icon", '<i class="fas fa-folder"></i>');

                    TreeConfig.open_icon = '<i class="fas fa-angle-down"></i>';
                    TreeConfig.close_icon = '<i class="fas fa-angle-right"></i>';
                } else {
                    view.changeOption("leaf_icon", undefined);
                    view.changeOption("parent_icon", undefined);

                    TreeConfig.open_icon = TreeUtil.default_open_icon;
                    TreeConfig.close_icon = TreeUtil.default_close_icon;
                }

                view.reload();
            }

            function regInventoryBook() {
                if (confirm("정말 등록하시겠습니까?") == true) {
                    if ($('#startTime').val() != "") {
                        $.ajax({
                            url: '/regInventoryBook',
                            type: 'POST',
                            contentType: "application/json",
                            data: JSON.stringify({
                                type: $('#type').val(),
                                place: $('#place').val(),
                                price: $('#price').val(),
                                name: $('#name').val(),
                                amount: $('#amount').val(),
                                DATE: $('#date').val().replaceAll('-', '')
                            }),
                            success: function onData(data) {
                                if (data >= 1) {
                                    alert('사주세요~');
                                } else if (data == 0) {
                                    alert('수업 등록에 실패하였습니다.');
                                }
                            }
                        });
                    }
                }
            }

            function toggleCustomIcon(n) {
                if (n == true) {
                    root.changeOption("icon", '<i class="fas fa-code-branch"></i>');
                } else {
                    root.changeOption("icon", undefined);
                }

                view.reload();
            }
        </script>
    </th:block>
</th:block>