<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <div class="container-fluid">
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h3 class="m-0 font-weight-bold text-primary">사용자 수정</h3>
                </div>
                <div class="card-body">
                    <form id="reguser">
                        <div class="mb-3">
                            <label for="username">이름</label>
                            <input class="form-control" id="username" type="text" th:value='${user.username}'>
                        </div>
                        <div class="mb-3">
                            <label for="usertype">사용자 종류</label>
                            <select class="form-control" id="usertype">
                                <option th:selected="${user.usertype}=='0'" th:value="0">관리자</option>
                                <option th:selected="${user.usertype}=='1'" th:value="1">선생님</option>
                                <option th:selected="${user.usertype}=='2'" th:value="2">어머님</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="userclass">사용자 반</label>
                            <select class="form-control" id="userclass">
                                <option th:selected="${user.userclass}=='0'" th:value="0">교무실</option>
                                <option th:selected="${user.userclass}=='1'" th:value="1">고급2</option>
                                <option th:selected="${user.userclass}=='2'" th:value="2">고급1</option>
                                <option th:selected="${user.userclass}=='3'" th:value="3">중급</option>
                            </select>
                        </div>
                        <input type="submit" class="btn btn-primary btn-sm" onclick="$.updateUser()" value="수정">
                    </form>
                </div>
            </div>
        </div>
        <script>
            $.updateUser = function () {
                if (confirm("정말 수정하시겠습니까?") == true) {
                    if ($('#username').val() != "" && $('#password').val() != "") {
                        $.ajax({
                            url: '/userUpdate',
                            type: 'POST',
                            contentType: "application/json",
                            data: JSON.stringify({
                                /*<![CDATA[*/
                                userNum: [[${param.usernum}]],
                                /*]]*/
                                userName: $('#username').val(),
                                userType: $('#usertype').val(),
                                userClass: $('#userclass').val(),
                                /*<![CDATA[*/
                                qrName: '[[${user.qrname}]]'
                                /*]]*/
                            }),
                            success: function onData(data) {
                                if (data >= 1) {
                                    alert('사용자가 수정 되었습니다.');
                                    location.href = "/userListWin";
                                } else if (data == 0) {
                                    alert('사용자 수정에 실패하였습니다.');
                                }
                            }
                        });
                    }
                }
            }
        </script>
    </th:block>
</th:block>