<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h3 class="m-0 font-weight-bold text-primary">수업 등록</h3>
                </div>
                <div class="card-body">
                    <form id="reguser">
                        <div class="mb-3">
                            <label for="classDay">요일</label>
                            <select class="form-control" id="classDay">
                                <option th:value="0">일요일</option>
                                <option th:value="1" selected>월요일</option>
                                <option th:value="2">화요일</option>
                                <option th:value="3">수요일</option>
                                <option th:value="4">목요일</option>
                                <option th:value="5">금요일</option>
                                <option th:value="6">토요일</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="classType">반</label>
                            <select class="form-control" id="classType">
                                <option th:value="1">고급2</option>
                                <option th:value="2">고급1</option>
                                <option th:value="3">중급</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="startTime">수업 시간</label>
                            <input class="form-control" type="time" id="startTime" required
                                   onchange="$.fncAutoTime(this);return false;">~
                            <input class="form-control" type="time" id="endTime" disabled>
                        </div>
                        <input type="submit" class="btn btn-primary" onclick="$.fncregclass()" value="등록">
                    </form>
                </div>
            </div>
        </div>
        <script>
            $.fncAutoTime = (object) => {
                $('#endTime').val(object.value.substr(0, 2) * 1 + 2 + object.value.substr(2, 5));
            }
            $.fncregclass = () => {
                if (confirm("정말 등록하시겠습니까?")) {
                    if ($('#startTime').val() != "") {
                        $.ajax({
                            url: '/regclass',
                            type: 'POST',
                            contentType: "application/json",
                            data: JSON.stringify({
                                classDay: $('#classDay').val(),
                                classType: $('#classType').val(),
                                startTime: $('#startTime').val(),
                                endTime: $('#endTime').val()
                            }),
                            success: function onData(data) {
                                if (data >= 1) {
                                    alert('수업이 등록 되었습니다.');
                                } else if (data == 0) {
                                    alert('수업 등록에 실패하였습니다.');
                                }
                            }
                        });
                    }
                }
            }
        </script>
    </th:block>
</th:block>