<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <div class="container-fluid">
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h3 class="m-0 font-weight-bold text-primary">시간표 등록</h3>
                </div>
                <div class="card-body">
                    <div ondragover="return false;" ondragenter="return false;" ondrop="drop(this, event);">
                        <h2>아래 음식이미지를 종류별로 드레그 해서 넣어보세요.</h2>
                        <img ondragstart="drag(this, event)" id="kor1" alt="한국음식1"
                             src="//t1.daumcdn.net/tistory_admin/static/images/xBoxReplace_250.png" draggable="true"
                             width="250" height="250">

                        <div id='external-events-list'>
                            <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
                                <div class='fc-event-main' ondragstart="drag(this, event)" draggable="true">My Event 1
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ondragover="return false;" ondragenter="return false;" class="fl" ondrop="drop(this, event);">
                        <h2>한국음식</h2>
                    </div>

                    <script>
                        function drag(target, food) {       //드래그 시작시 호출 할 함수
                            console.log(target);
                            console.log(food);
                            food.dataTransfer.setData('Text', target.id);
                        };

                        function drop(target, food) {       //드롭시 호출 할 함수
                            var id = food.dataTransfer.getData('Text');
                            target.appendChild(document.getElementById(id));
                            food.preventDefault();
                        };
                    </script>
                    <form id="reguser">
                        <div class="mb-3">
                            <label for="username">담당 선생님</label>
                            <input class="form-control" id="username" type="text" placeholder="김풀무" maxlength="3"
                                   oninput="numberMaxLength(this);" required>
                            <label for="startTime">수업 시간</label>
                            <input class="form-control" type="time" id="startTime">~
                            <input class="form-control" type="time" id="EndTime">
                        </div>
                        <div class="mb-3">
                            <label for="userclass">반</label>
                            <select class="form-control" id="userclass">
                                <option th:value="1">고급2</option>
                                <option th:value="2">고급1</option>
                                <option th:value="3">중급</option>
                            </select>
                        </div>
                        <input type="submit" class="btn btn-primary btn-sm" onclick="$.fncreguser()" value="등록">
                    </form>
                </div>
            </div>
        </div>
        <script>
            $.fncreguser = function () {

                if (confirm("정말 등록하시겠습니까?") == true) {
                    if ($('#username').val() != "" && $('#password').val() != "") {
                        $.ajax({
                            url: '/reguser',
                            type: 'POST',
                            contentType: "application/json",
                            data: JSON.stringify({
                                username: $('#username').val(),
                                password: $('#password').val(),
                                usertype: $('#usertype').val(),
                                userclass: $('#userclass').val()
                            }),
                            success: function onData(data) {
                                if (data >= 1) {
                                    alert('사용자가 등록 되었습니다.');
                                    location.href = "/userListWin";
                                } else if (data == 0) {
                                    alert('사용자 등록에 실패하였습니다.');
                                }
                            }
                        });
                    }
                }
            }
        </script>
    </th:block>
</th:block>