<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h3 class="m-0 font-weight-bold text-primary">시간표 등록</h3>
                </div>
                <div class="card-body">
                    <div id='wrap'>
                        <div id='external-events'>
                            <h4>풀무야간학교 반</h4>
                            <div id='external-events-list' style="width: 5%">
                                <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'
                                     th:each="class : ${classList}">
                                    <div class='fc-event-main' th:text="${class.classtype}"></div>
                                    <div class='fc-event-main' th:text="${class.starttime}"></div>
                                    <div class='fc-event-main' th:text="${class.endtime}"></div>
                                </div>
                            </div>
                        </div>
                        <p>
                            <input type='checkbox' id='drop-remove'/>
                            <label for='drop-remove'>remove after drop</label>
                        </p>
                        <div id='calendar-wrap'>
                            <div id='calendar'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            const containerEl = $('#external-events-list')[0];
            new FullCalendar.Draggable(containerEl, {
                itemSelector: '.fc-event',
                eventData: function (eventEl) {
                    return {
                        title: eventEl.innerText.trim()
                    }
                }
            });

            const calendarEl = $('#calendar')[0];
            const calendar = new FullCalendar.Calendar(calendarEl, {
                locale: "ko",
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                },
                editable: true,
                droppable: true,
                contentHeight: 'auto',
                drop: function (arg) {
                    console.log(arg.dateStr);
                    console.log(arg.draggedEl.innerText.substr(0, 3).trim());
                    if (document.getElementById('drop-remove').checked) {
                        arg.draggedEl.parentNode.removeChild(arg.draggedEl);
                    }
                }
            });
            calendar.render();
        </script>
    </th:block>
</th:block>