<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
<!--            <h1 class="h3 mb-2 text-gray-800">Tables</h1>-->

<!--            <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.-->
<!--                For more information about DataTables, please visit the <a target="_blank"-->
<!--                                                                           href="https://datatables.net">official-->
<!--                    DataTables documentation</a>.</p>-->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h3 class="m-0 font-weight-bold text-primary">출석부</h3>
                </div>
                <div class="card-body">
                    <div class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="date" id="dateStart" onchange="setDate()"> ~ <input type="date" id="dateEnd" onchange="setDate()">
                            <button type="button" class="btn btn-primary" onclick="search();">조회</button>
                        </div>

                    </div>
                    <div style="height:5px; clear:both;"></div>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr style="text-align: center; vertical-align: middle">
                                <th>회원번호</th>
                                <th>이름</th>
                                <th>사용자타입</th>
                                <th>사용자반</th>
                                <th>출석율</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/checkin/userAttendanceList.js"></script>
    </th:block>
</th:block>
