<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h3 class="m-0 font-weight-bold text-primary">사주세요</h3>
                </div>
                <div class="card-body">
                    <input type="button" onclick="add()" value="사주세요!" class="btn btn-outline-info">
                    <table class="table table-bordered table-hover" style="color: #1b1e21" width="100%">
                        <colgroup>
                            <col style="width: 10%;">
                            <col style="width: 20%;">
                            <col style="width: 25%;">
                            <col style="width: 25%;">
                            <col style="width: 20%;">
                        </colgroup>
                        <thead>
                        <tr style="vertical-align: middle; text-align: center;">
                            <th>번호</th>
                            <th>작성자</th>
                            <th>신청일</th>
                            <th>완료일</th>
                            <th>상태</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="pleaseBuyVo : ${result.dtoList}" style="text-align: center; vertical-align: middle;"
                            th:data-goodstype="${pleaseBuyVo.goodstype}" th:data-goods="${pleaseBuyVo.goods}"
                            th:data-goodsprice="${pleaseBuyVo.goodsprice}" th:data-option="${pleaseBuyVo.option}"
                            th:data-company="${pleaseBuyVo.company}" th:data-url="${pleaseBuyVo.url}"
                            th:data-goodscount="${pleaseBuyVo.goodscount}" th:data-id="${pleaseBuyVo.id}"
                            th:data-username="${pleaseBuyVo.username}" th:data-start="${pleaseBuyVo.start}"
                            th:data-end="${pleaseBuyVo.end}" th:data-status="${pleaseBuyVo.status}">

                            <td th:text="${pleaseBuyVo.id}"></td>
                            <td th:text="${pleaseBuyVo.username}"></td>
                            <td th:text="${pleaseBuyVo.start}"></td>
                            <td th:text="${pleaseBuyVo.end} ? ${pleaseBuyVo.end} : '미완료'"></td>
                            <td th:switch="${pleaseBuyVo.status}">
                                <span th:case="0">구매신청</span>
                                <span th:case="1">구매접수</span>
                                <span th:case="2">구매중</span>
                                <span th:case="3">구매완료</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <ul class="pagination h-100 justify-content-center align-items-center">
                        <li class="page-item " th:if="${result.prev}">
                            <a class="page-link" th:href="@{/PleaseBuy(page= ${result.start -1})}" tabindex="-1">이전</a>
                        </li>

                        <li th:class=" 'page-item ' + ${result.page == page?'active':''} " th:each="page: ${result.pageList}">
                            <a class="page-link" th:href="@{/PleaseBuy(page = ${page})}">
                                [[${page}]]
                            </a>
                        </li>

                        <li class="page-item" th:if="${result.next}">
                            <a class="page-link" th:href="@{/PleaseBuy(page= ${result.end + 1} )}">다음</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- 일정 추가 MODAL -->
        <div class="modal add" tabindex="-1" role="dialog" id="eventModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">사주세요!</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <table class="table" id="pleaseBuy">
                            <tr>
                                <td class="align-middle">번호</td>
                                <td id="pleaseBuyId">1</td>
                            </tr>
                            <tr>
                                <td class="align-middle" id="pleaseBuyStatus">상태</td>
                                <td>구매완료</td>
                            </tr>
                            <tr>
                                <td class="align-middle">물품종류</td>
                                <td>
                                    <select class="form-control" id="pleaseBuyType">
                                        <option value="0">간식</option>
                                        <option value="1">문구류</option>
                                        <option value="2">비품류</option>
                                        <option value="3">기타</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle">물품명</td>
                                <td><input type="text" class="form-control" id="pleaseBuyGoods"></td>
                            </tr>
                            <tr>
                                <td class="align-middle">갯수</td>
                                <td><input type="number" class="form-control" id="pleaseBuyCount" value="1"
                                           onchange="sum()"></td>
                            </tr>
                            <tr>
                                <td class="align-middle">개당가격</td>
                                <td><input type="number" class="form-control" id="pleaseBuyPrice" value="0"
                                           onchange="sum()"></td>
                            </tr>
                            <tr>
                                <td class="align-middle">합계</td>
                                <td><input type="number" class="form-control" id="pleaseBuySum" disabled value="0"></td>
                            </tr>
                            <tr>
                                <td class="align-middle">옵션</td>
                                <td><input type="text" class="form-control" id="pleaseBuyOption"></td>
                            </tr>
                            <tr>
                                <td class="align-middle">url</td>
                                <td><input type="text" class="form-control" id="pleaseBuyUrl"></td>
                            </tr>
                            <tr>
                                <td class="align-middle">택배회사</td>
                                <td>
                                    <select class="form-control" id="pleaseBuyCompany">
                                        <option value="0">CJ대한통운</option>
                                        <option value="1">한진</option>
                                        <option value="2">롯대글로벌로지스</option>
                                        <option value="3">우체국택배</option>
                                        <option value="4">로젠택배</option>
                                        <option value="5">기타</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle">송장번호</td>
                                <td><input type="text" class="form-control" id="pleaseBuyInvoice"></td>
                            </tr>
                            <tr>
                                <td class="align-middle">신청일자</td>
                                <td><input type="date" class="form-control" disabled id="pleaseBuyStart"></td>
                            </tr>
                            <tr>
                                <td class="align-middle">배송예정일</td>
                                <td><input type="date" class="form-control" id="pleaseBuyEnd"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer modalBtnContainer-addEvent">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="paramsReset()">닫기
                        </button>
                        <button type="button" class="btn btn-primary" id="save-event" onclick="regPleaseBuy()">저장
                        </button>
                    </div>
                    <div class="modal-footer modalBtnContainer-modifyEvent">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="paramsReset()">닫기
                        </button>
                        <button type="button" class="btn btn-danger" id="delete-Event" onclick="deleteSchedule()">삭제
                        </button>
                        <button type="button" class="btn btn-primary" id="update-Event" onclick="updateSchedule()">저장
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function paramsReset() {
                $('#pleaseBuyType').val(0);
                $('#pleaseBuyGoods').val('');
                $('#pleaseBuyCount').val(0);
                $('#pleaseBuySum').val(0);

                $('#pleaseBuyPrice').val(0);
                $('#pleaseBuyOption').val('');

                $("#pleaseBuy > tbody > tr:nth-child(1)").show();
                $("#pleaseBuy > tbody > tr:nth-child(2)").show();
                $("#pleaseBuy > tbody > tr:nth-child(9)").show();
                $("#pleaseBuy > tbody > tr:nth-child(10)").show();
                $("#pleaseBuy > tbody > tr:nth-child(11)").show();
                $("#pleaseBuy > tbody > tr:nth-child(12)").show();
                $("#pleaseBuy > tbody > tr:nth-child(13)").show();
            }

            function add() {
                $(".add").modal('show');
                $("#pleaseBuy > tbody > tr:nth-child(1)").hide();
                $("#pleaseBuy > tbody > tr:nth-child(2)").hide();
                $("#pleaseBuy > tbody > tr:nth-child(9)").hide();
                $("#pleaseBuy > tbody > tr:nth-child(10)").hide();
                $("#pleaseBuy > tbody > tr:nth-child(11)").hide();
                $("#pleaseBuy > tbody > tr:nth-child(12)").hide();
                $("#pleaseBuy > tbody > tr:nth-child(13)").hide();
                $(".modalBtnContainer-modifyEvent").hide();
            }

            function sum() {
                let amount = $('#pleaseBuyCount').val();
                let Price = $('#pleaseBuyPrice').val();
                $('#pleaseBuySum').val(amount * Price);
            }

            $.fncAutoTime = function (object) {
                $('#endTime').val(object.value.substr(0, 2) * 1 + 2 + object.value.substr(2, 5));
            }
            regPleaseBuy = function () {
                if (confirm("정말 등록하시겠습니까?") == true) {
                    if ($('#startTime').val() != "") {
                        $.ajax({
                            url: '/regPleaseBuy',
                            type: 'POST',
                            contentType: "application/json",
                            data: JSON.stringify({
                                usernum: 0,
                                goodstype: $('#pleaseBuyType').val(),
                                goods: $('#pleaseBuyGoods').val(),
                                goodscount: $('#pleaseBuyCount').val(),
                                goodsprice: $('#pleaseBuyPrice').val(),
                                option: $('#pleaseBuyOption').val()
                            }),
                            success: function onData(data) {
                                if (data >= 1) {
                                    alert('사주세요~');
                                } else if (data == 0) {
                                    alert('수업 등록에 실패하였습니다.');
                                }
                            }
                        });
                    }
                }
            }
        </script>
    </th:block>
</th:block>