<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bellowschool.inventoryBook.mapper.InventoryBookMapper">
    <select id="inventoryList" resultType="inventoryBookVo">
        SELECT *
        FROM BSINVENTORY
    </select>

    <select id="inventoryBookList" resultType="inventoryBookVo">
        SELECT ID
             , CASE TYPE
                   WHEN '0' THEN
                       '간식류'
                   WHEN '1' THEN
                       '문구류'
                   WHEN '2' THEN
                       '비품류'
                   WHEN '3' THEN
                       '기타'
            END                                                   TYPE
             , PLACE
             , PRICE
             , NAME
             , AMOUNT
             , TO_CHAR(TO_DATE("DATE", 'YYYYMMDD'), 'YYYY-MM-DD') "DATE"
        FROM BSINVENTORYBOOK
    </select>

    <insert id="regInventoryBook" parameterType="hashMap">
        INSERT INTO BSINVENTORYBOOK ( ID
                                    , TYPE
                                    , PLACE
                                    , PRICE
                                    , NAME
                                    , AMOUNT
                                    , "DATE")
        VALUES ( INVENTORYBOOK.nextval
               , #{type}
               , #{place}
               , #{price}
               , #{name}
               , #{amount}
               , #{DATE})
    </insert>
</mapper>
