<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bellowschool.inventoryBook.mapper.InventoryBookMapper">
    <select id="inventoryList" resultType="inventoryBookVo">
        SELECT *
        FROM BSINVENTORY
    </select>

    <select id="inventoryBookList" resultType="inventoryBookVo">
        SELECT ID
             , TYPE
             , PLACE
             , PRICE
             , NAME
             , AMOUNT
             , TO_CHAR(TO_DATE("DATE", 'YYYYMMDD'), 'YYYY-MM-DD') "DATE"
        FROM BSINVENTORYBOOK
    </select>

    <insert id="regInventoryBook" parameterType="hashMap">
        INSERT INTO BSINVENTORYBOOK ( ID
                                    , TYPE
                                    , PLACE
                                    , PRICE
                                    , NAME
                                    , AMOUNT
                                    , "DATE")
        VALUES ( INVENTORYBOOK.nextval
               , #{type}
               , #{place}
               , #{price}
               , #{name}
               , #{amount}
               , #{DATE})
    </insert>

    <delete id="deleteInventoryBook" parameterType="hashMap">
        DELETE
            BSINVENTORYBOOK
        WHERE ID =
              #{id}
    </delete>

    <update id="updateInventoryBook" parameterType="hashMap">
        UPDATE BSINVENTORYBOOK
        <set>
            <if test="type != null and type != ''">
                TYPE = #{type}
            </if>
            <if test="place != null and place != ''">
                , PLACE = #{place}
            </if>
            <if test="price != null and price != ''">
                , PRICE = #{price}
            </if>
            <if test="name != null and name != ''">
                , NAME = #{name}
            </if>
            <if test="amount != null and amount != ''">
                , AMOUNT = #{amount}
            </if>
            <if test="DATE != null and DATE != ''">
                , "DATE" = #{DATE}
            </if>
        </set>
        <where>
            ID = #{id}
        </where>
    </update>
</mapper>
